# exepted folders
logs/**
!logs/main_run/
!logs/main_run/**
archive/
documents/
notes/
sources/
drawio/
review/

# PDF output - only the main file
*.pdf
!LaTeX/figures/*.pdf
!main.pdf

# LaTeX/XeLaTeX temporary files
*.aux
*.log
*.toc
*.bcf
*.run.xml
*.fls
*.out
*.lof
*.lot
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk

# Python
__pycache__/
*.pyc

# VS code
.vscode/


# macOS
.DS_Store

# Logs
events.out*
*.cfg
